extends ../layouts/default.pug

block main
 .container.my-5
  h1.text-center.mb-4 Tarot Reading
  .row
    .col-md-6.offset-md-3
      .mb-3
        form(
          form-send-data
          class="inner-form"
          action="/read"
          method="POST"
          
        )
          label.form-label(for='questionInput') Câu hỏi:
          .row
            .col-md-10
              input.form-control(
                placeholder="Nhập nội dung..." 
                name="content"
                aria-describedby="questionHelp"
                rows="5"
                )
            //- .col-md-2.text-right
            //-   button.btn.btn-primary.d-flex.align-items-center.justiy-content-center(
            //-     style="background-color: #5A2D81; color: white; border-radius: 8px; padding: 8px 50px;" btnRead) Lời giải

        #questionHelp.form-text Chọn bài
        button(btnDraw)#shuffleDrawBtn.btn.btn-primary.w-100.mb-4 Xào bài
  #cardContainer.row
    div(cards=Cards)