extends ../layouts/default.pug
include ../mixins/box-head.pug

block main
  .container.my-3
    .row
      .col-12
          .chat()
            .inner-body
                div(class="inner-content inner-incoming") !{response}
            .inner-foot
              form(
                form-send-request
                class="inner-form"
                action=""
              )
                
                input(
                  type="text"
                  placeholder="Nhập nội dung..."
                  name="content"
                )
                button
                 i.fa-solid.fa-paper-plane
  div(prompt = prompt)
